# Add any directories, files, or patterns you don't want to be tracked by version controlBinaries
StarterContent
Binaries
Build
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.txt